@{
    
    var b = ViewBag.Buttons;
}
    <link rel="stylesheet" href="/css/buttonview.css" media="all" />
        @for (int i = 0; i < b.Count; i++)
        {

            var cssClass = "";
            int bat = @b[i].Batterie;
            Boolean akt = @b[i].Aktiv;
            Boolean vis = @b[i].Visible;
            if (!akt || !vis) continue;

            if (bat <= 50)
                cssClass = "yellow";
            if (bat <= 25)
                cssClass = "red";
            if (bat == -1)
                cssClass = "";

            <div class="button_ring">
                <div class="button">
                    <div class="button_Inner">
                        <div>Name: <b>@b[i].Name</b></div>
                        <div class="@cssClass">Batterie: @b[i].Batterie</div>
                        <div>Letzer Klick:<span class="smallFont">@b[i].LastClick</span></div>
                        <div>Mac: @b[i].Mac</div>
                        <div>Letzte Aktion: @b[i].LastAction</div>

                    </div>
                </div>
            </div>
        }
